<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>User Confirmation</title>
</head>

<body>
<p>Welcome {{ .FullName }}</p><br>
<p>You are one step away from using photoprism. </p><br>
<p>Please confirm your E-Mail to get access to complete the registration process: </p><p><a href="{{ .Link }}">{{ .Link }}</a></p><br>
<p>If the link is not working, paste it in your browser.</p>

<p>©<a target="_blank" rel="noopener noreferrer" href="https://photoprism.app">Photoprism</a></p>
</body>
</html>