<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Password Reset</title>
</head>

<body>
<p>Hi {{ .FullName }}</p><br>
<p>You have received this email because a password reset request for your Photoprism account was received.</p><br>
<p>To finish your password reset request, click: </p><p><a href="{{ .Link }}">{{ .Link }}</a></p><br>
<p>If the link is not working, paste it in your browser.</p>

<p>©<a target="_blank" rel="noopener noreferrer" href="https://photoprism.app">Photoprism</a></p>
</body>
</html>